@model IEnumerable<Pizzeria.DAL.Models.PizzaMaker>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="container">
    <div class="row col-md-10 col-md-offset-1 custyle">
        <table class="table table-striped custab">
            <thead>
                <button type="button" class="btn btn-primary btn-xs pull-right" onclick="location.href = '@Url.Action("Create", "PizzaMaker")'"><b>+</b>Create new PizzaMaker</button>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th></th>
                </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "edit btn btn-info btn-xs" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "delete btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }

        </table>
        </div></div>