@model Pizzeria.WebUI.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".RemoveLink").click(function (e) {
                e.preventDefault();

                var recordToDelete = $(this).attr("data-id");

                if (recordToDelete != '') {
                    $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                        function (data) {
                            if (data.ItemCount == 0) {
                                $('#row-' + data.DeleteId).fadeOut('slow');
                            } else {
                                $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            }
                            $('#cart-total').text(data.CartTotal);
                            $('#update-message').text(data.Message);
                            $('#cart-status').text('Cart(' + data.CartCount + ')');
                        });
                }
            });
        });
    </script>
}
<div id="update-message" class="text-info">

</div>
@if (Model.CartItems.Count == 0)
{
    <a class="btn-danger" href="~/Home/Index">Your shopping cart is empty, continue shopping </a>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        @foreach (var item in Model.CartItems)
                        {
                            <tbody>
                            <tr id="row-@item.PizzaId">
                                <td class="col-sm-8 col-md-6">@item.Pizza.Name</td>

                                <td class="col-sm-1 col-md-1 text-center"><strong>@item.Pizza.Price</strong></td>
                                <td id="item-count-@item.PizzaId" class="col-sm-1 col-md-1 text-center"><strong>@item.Count</strong></td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>@((item.Pizza.Price * item.Count))</strong></td>
                                <td class="col-sm-1 col-md-1 text-center"><a href="" class="btn btn-danger RemoveLink" data-id="@item.PizzaId"><span class="glyphicon glyphicon-remove"></span>Remove</a></td>
                            </tr>
                            </tbody>
                        }
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            <td><h3>Total</h3></td>
                            <td id="cart-total" class="text-success text-right"><h3>@Model.CartTotal</h3></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index","Home")'">Continue</button>
                            </td>

                            <td><button type="button" class="btn btn-success" onclick="location.href='@Url.Action("AddressAndPayment", "Checkout")'">Checkout</button></td>
                        </tr>
                        </tfoot>
                </table>
                </div>
            </div></div>
}
