@model IEnumerable<Pizzeria.DAL.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="container">
    <div class="row col-md-10 col-md-offset-1 custyle">
        <table class="table table-striped custab">
            <thead>
                <button type="button" class="btn btn-primary btn-xs pull-right" onclick="location.href = '@Url.Action("Create", "Product")'"><b>+</b>Create new Product</button>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Count)
                    </th>
                    <th></th>
                </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "edit btn btn-info btn-xs" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "delete btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }

        </table>
        </div></div>
<div>
    <button type="button" class="btn btn-warning btn-xs" onclick="location.href = '@Url.Action("Index", "Account")'">Back to main page</button>
</div>
